<!DOCTYPE html>
    <link rel="stylesheet" href="../static/css/sidemodule.css">
<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="sidemodule-box">
            <label id="sample-sidemod-label" for="sample-sidmod-output">What did I want to put here?</label>
            <output id="sample-sidemod-output" class="sidemodule-output" form="main-form" for="sheet-textarea">
                Not my circus, not my monkeys. And regardless, a camel cannot see its own hump...
            </output>
        </div>
    </body>
</html>