<head>
    <link rel="stylesheet" href="topbar.css">
</head>
<body>
    <nav class="topbar" data-th-fragment="topbar">
        <div class="topbar-left">
            <div class="topbar-element">
                <h1 class="logo-text">CatchyName</h1>
            </div>
        </div>
        <div class="topbar-center"></div>
        <div class="topbar-right">
            <div class="topbar-element">
                <h2 class="topbar-button">Tools</h2>
            </div>
            <div class="topbar-element">
                <h2 class="topbar-button">Account</h2>
            </div>
        </div>
    </nav>
</body>